
<h2>Welcome to <%= @crm_app_name %></h2>
<h4>Main Menu</h4>
<ul>
  <li><a class=button href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Make a new contact</a></li>
  <li><a class=button href="/contacts/1000">Find Contact</a></li>

</ul>


