
<h2 class="content">Welcome to <%= @crm_app_name %></h2>
<ul >
  <li class="button"><a class="bold" href="/contacts">View all contacts</a></li>
  <li class="button"><a class="bold" href="/contacts/new">New contact</a></li>
</ul>


