<!DOCTYPE html>
<html lang="en">
<head>
	<link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="styles.css"/>

	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header><a class="button" href="/">Home</a>

</header>
	<div class="content">
	<%= yield %>
	</div>

	<footer>Created by Hershel Nashman</footer>
</body>
</html>